li{
    list-style: none;
   
}

.header_link{
    text-decoration: none;
    color: black;

    font-size: 20px;
}

.header_link:hover{
    color: blue;
}

.header_list{
    display: flex;
    gap: 15px ;
}

/*Movie Detalis*/

.container{
    margin-left: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.container_text{
    display: flex;
    gap: 20px;  
}